/* couleurs principales */
/* couleurs secondaires */
/* couleurs principales */
/* couleurs secondaires */
.continue-container .linksPlatform .links, .calculateCost h2, .viewMore-zone, .logoSpeRect, .spe, .profilImg, .intro h1, .intro, .nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nos-specialitees.active, .intro.active {
  opacity: 0%;
  transition-delay: 0s;
}

.nos-specialitees .rect {
  background: #31554b;
  background: -moz-linear-gradient(164deg, rgb(50, 102, 87) 0%, rgb(0, 15, 48) 100%);
  background: -webkit-linear-gradient(164deg, rgb(50, 102, 87) 0%, rgb(0, 15, 48) 100%);
  background: linear-gradient(164deg, rgb(50, 102, 87) 0%, rgb(0, 15, 48) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#326657", endColorstr="#000f30", GradientType=1);
}

body {
  margin: 0px;
  padding: 0px;
  background: #407062;
}

body.active {
  overflow: hidden;
}

body::-webkit-scrollbar {
  width: 0px;
}

nav {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 30vw;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 70px;
  transform: translateX(0vw);
  transition: transform 1s cubic-bezier(0.33, -0.3, 1, 1);
}

.logo p {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.nav-bar {
  width: 40vw;
  height: 100%;
}

.menu {
  width: 40%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  right: 30%;
}

.menu a {
  color: white;
  font-size: 1.5rem;
  display: inline;
  position: relative;
}

.menu a::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scale(0);
  transition: transform 0.3s ease-out;
}

.menu a:hover::after {
  transform: scale(1);
}

.icons {
  width: 30vw;
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}
.icons span {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  margin-right: 30px;
}
.icons span:last-child {
  margin-right: 70px;
}

.hamburger {
  visibility: hidden;
  width: 70px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  border: 2px solid white;
  border-radius: 10px;
  background-color: transparent;
  transition: transform 0.5s ease-out 0.6s, opacity 0.2s ease-out;
}
.hamburger span {
  width: 45px;
  height: 2px;
  background-color: white;
  transition: transform 0.5s ease-out, opacity 0.2s ease-out;
}

.hamburger.active {
  background-color: #31554b;
}

.hamburger.active .l1 {
  transform: translateY(15px) rotate(-225deg);
}

.hamburger.active .l2 {
  opacity: 0;
}

.hamburger.active .l3 {
  transform: translateY(-15px) rotate(225deg);
}

.menu-hamburger {
  position: absolute;
  z-index: 1;
  top: 2vh;
  left: 2vw;
  width: 47vw;
  height: 96vh;
  background-color: #31554b;
  border: 2px solid white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  transform: translateX(-100vw);
  transition: transform 0.5s cubic-bezier(0.18, 0.01, 0.27, 1.38) 0.75s;
}
.menu-hamburger .links {
  width: 100%;
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.menu-hamburger .nav-bar-link {
  color: white;
  font-size: 2rem;
  display: inline;
  position: relative;
  transition: font-size 0.3s ease;
}
.menu-hamburger .nav-bar-link:hover {
  font-size: 3rem;
}

.menu-hamburger.active {
  transform: translateX(0);
}

.container {
  width: 100vw;
}

.intro {
  --width-10vw: 10vw;
  width: 100vw;
  height: calc(90vh - var(--width-10vw));
  flex-direction: column;
  opacity: 100%;
  transition: opacity 0.5s ease-in-out 1s;
}
.intro h1 {
  width: 40vw;
  text-align: center;
  color: white;
  font-family: Arial;
  flex-direction: column;
}
.intro h1 span {
  background-color: #70404e;
  padding: 5px;
  border-radius: 20px;
}
.intro p {
  color: white;
  font-size: none;
  font-family: Arial;
  text-align: center;
  text-decoration: none;
  width: 60vw;
}

.nos-specialitees {
  width: 100vw;
  min-height: 100vh;
  height: fit-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  opacity: 100%;
  transition: opacity 0.5s ease-in-out 1s;
}
.nos-specialitees .rect {
  width: 500px;
  min-width: 500px;
  height: 700px;
  border-radius: 30px;
  margin-top: 2%;
}

.devProfil {
  display: flex;
  flex-direction: column;
}

.profilImg {
  width: 100%;
  height: 50%;
}

.img {
  background-color: antiquewhite;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.math .profilImg .img {
  background-image: url("../img/mathPhoto.jpg");
  background-size: cover;
  background-position: 50%;
}

.arth .profilImg .img {
  background-image: url("../img/mathPhoto.jpg");
  background-size: cover;
  background-position: 50%;
}

.devProfil .name p {
  color: white;
  font-size: 4rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 3px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 3%;
}

.shortDesc p {
  color: white;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  margin-left: 10%;
  width: 80%;
}

.rectSpeContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
}

.portfolio-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.portfolio-container .portfolio {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.portfolio-container .portfolio h2 {
  color: white;
  font-size: none;
  font-family: Arial;
  text-align: center;
  text-decoration: none;
}

.portfolio-child {
  transition-property: width, height;
  transition-timing-function: ease;
  transition-duration: 0.4s;
  transition-delay: 0s;
}
.portfolio-child button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
}
.portfolio-child button p {
  color: white;
  font-size: none;
  font-family: Arial;
  text-align: center;
  text-decoration: none;
}
.portfolio-child:hover {
  width: 110%;
  height: 50%;
}

.projects-container {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
}
.projects-container .project {
  background-color: bisque;
  width: 49.5%;
  height: 100%;
  position: relative;
  z-index: 1;
}
.projects-container .project:first-child {
  border-top-left-radius: 30px;
  background-image: url("../img/bgi-matheoguilbert_fr.jpg");
  background-size: cover;
  background-position: 50%;
}
.projects-container .project:last-child {
  border-top-right-radius: 30px;
  background-image: url("../img/bgi-amevents_fr.jpg");
  background-size: cover;
  background-position: 50%;
}
.projects-container .project:hover {
  width: 70%;
  height: 120%;
}

.viewMore-zone {
  background-image: url("../img/bgi-viewmorezone.jpg");
  background-size: cover;
  background-position: 50%;
  width: 100%;
  height: 40%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.calculateCost {
  width: 100vw;
  min-height: fit-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.calculateCost h2 {
  color: white;
  font-size: none;
  font-family: Arial;
  text-align: center;
  text-decoration: none;
  width: 100%;
  flex-direction: column;
}

.option-container {
  width: 50vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.option-container .option {
  background-color: #31554b;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  border-radius: 30px;
}
.option-container .option .case {
  width: 32.5%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.option-container .option .case .optionCheckbox {
  width: 20px;
  height: 20px;
}
.option-container .option .optionText {
  color: white;
  font-size: none;
  font-family: monospace;
  text-align: center;
  text-decoration: none;
}

.resume-container {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.resume-container .resumeText {
  width: 50%;
  border-top: solid 2px white;
  padding-top: 15px;
}
.resume-container .infosResume {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.resume {
  color: white;
  font-size: none;
  font-family: monospace;
  text-align: center;
  text-decoration: none;
}

.continue-container {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.continue-container .p-continue {
  color: white;
  font-size: none;
  font-family: monospace;
  text-align: center;
  text-decoration: none;
}
.continue-container .linksPlatform {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.continue-container .linksPlatform .links {
  background-color: #70404e;
  width: 40%;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.continue-container .linksPlatform .links a {
  color: white;
  font-size: none;
  font-family: monospace;
  text-align: center;
  text-decoration: none;
}

@media (1305px >= width) {
  .hamburger {
    visibility: visible;
  }
  .menu {
    visibility: hidden;
    width: 0px;
    height: 0px;
  }
  .projects-container {
    flex-direction: column;
    align-items: center;
  }
  .projects-container .project {
    width: 100%;
  }
  .projects-container .project:first-child {
    border-top-right-radius: 30px;
    margin-bottom: 1vh;
  }
  .projects-container .project:last-child {
    border-top-right-radius: 0;
  }
  .projects-container .project:hover {
    width: 110%;
    height: 120%;
  }
  .option-container {
    width: 75vw;
  }
}
@media (975px >= width) {
  nav {
    flex-direction: row-reverse;
  }
  nav .icons {
    visibility: hidden;
    width: 0;
    height: 0;
  }
  nav .nav-bar {
    position: absolute;
    width: fit-content;
    height: 10vh;
    left: 5vw;
  }
  nav .hamburger.active {
    transform: translateX(calc(85vw - 35px));
  }
  nav .logo {
    width: 100%;
    justify-content: right;
    margin-left: 0px;
    margin-right: 3vw;
  }
  nav .logo.active {
    transform: translateX(100%);
  }
  .menu-hamburger {
    width: 80vw;
  }
  .option-container {
    width: 100vw;
  }
}
@media (490px >= width) {
  .supp {
    visibility: hidden;
    width: 0;
  }
}

/*# sourceMappingURL=index.css.map */
