@import 'variables';

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%hidden-el {
    visibility: hidden;
    width: 0;
    height: 0;
}

%opacity-transDelay {
    opacity: 0%;
    transition-delay: 0s;
}


%gradient-rect {
    background: $theme_vert_fonce;
    background: -moz-linear-gradient(164deg, rgba(50, 102, 87, 1) 0%, rgba(0, 15, 48, 1) 100%);
    background: -webkit-linear-gradient(164deg, rgba(50, 102, 87, 1) 0%, rgba(0, 15, 48, 1) 100%);
    background: linear-gradient(164deg, rgba(50, 102, 87, 1) 0%, rgba(0, 15, 48, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#326657", endColorstr="#000f30", GradientType=1);
}