@import './_variables';
@import './_placeholders';
@import './mixins';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: $theme_vert_clair;
}

body.active {
    overflow: hidden;
}

body::-webkit-scrollbar {
    width: 0px;
}

nav {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 30vw;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 70px;

    transform: translateX(0vw);
    transition: transform 1s cubic-bezier(0.33, -0.3, 1, 1);
}

.logo p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.nav-bar {
    width: 40vw;
    height: 100%;
    @extend %flex-center;
}

.menu {
    width: 40%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 30%;
}

.menu a {
    color: white;
    font-size: 1.5rem;
    display: inline;
    position: relative;
}

.menu a::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scale(0);
    transition: transform 0.3s ease-out;
}

.menu a:hover::after {
    transform: scale(1);
}

.icons {
    width: 30vw;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;

    span {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: white;
        margin-right: 30px;

        &:last-child {
            margin-right: 70px;
        }
    }
}

.hamburger {
    visibility: hidden;
    width: 70px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: transparent;

    transition: transform 0.5s ease-out 0.6s, opacity 0.2s ease-out;

    span {
        width: 45px;
        height: 2px;
        background-color: white;
        transition: transform 0.5s ease-out, opacity 0.2s ease-out;
    }
}

.hamburger.active {
    background-color: $theme_vert_fonce;
}

.hamburger.active .l1 {
    transform: translateY(15px) rotate(-225deg);
}

.hamburger.active .l2 {
    opacity: 0;
}

.hamburger.active .l3 {
    transform: translateY(-15px) rotate(225deg);
}

.menu-hamburger {
    position: absolute;
    z-index: 1;
    top: 2vh;
    left: 2vw;
    width: 47vw;
    height: 96vh;
    background-color: $theme_vert_fonce;
    border: 2px solid white;
    border-radius: 30px;
    display: flex;
    align-items: center;

    transform: translateX(-100vw);
    transition: transform 0.5s cubic-bezier(0.18, 0.01, 0.27, 1.38) 0.75s;

    .links {
        width: 100%;
        height: 55%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .nav-bar-link {
        color: white;
        font-size: 2rem;
        display: inline;
        position: relative;
        transition: font-size 0.3s ease;

        &:hover {
            font-size: 3rem;
        }
    }
}

.menu-hamburger.active {
    transform: translateX(0);
}

.container {
    width: 100vw;
}

.intro {
    --width-10vw: 10vw;
    width: 100vw;
    height: calc(90vh - var(--width-10vw));
    @extend %flex-center;
    flex-direction: column;

    opacity: 100%;
    transition: opacity 0.5s ease-in-out 1s;

    h1 {
        width: 40vw;
        text-align: center;
        color: white;
        font-family: Arial;
        @extend %flex-center;
        flex-direction: column;

        span {
            background-color: $couleur_surlignage;
            padding: 5px;
            border-radius: 20px;
        }
    }

    p {
        @include style-text(white, none, Arial, center, none);
        width: 60vw;
    }
}

.intro.active {
    @extend %opacity-transDelay;
}

.nos-specialitees {
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    opacity: 100%;
    transition: opacity 0.5s ease-in-out 1s;

    .rect {
        @extend %gradient-rect;
        width: 500px;
        height: 700px;
        border-radius: 30px;
        margin-top: 2%;
    }
}

.nos-specialitees.active {
    @extend %opacity-transDelay;
}

.devProfil {
    display: flex;
    flex-direction: column;
}

.profilImg {
    width: 100%;
    height: 50%;
    @extend %flex-center;
}

.img {
    background-color: antiquewhite;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.math .profilImg .img {
    background-image: url("../img/mathPhoto.jpg");
    background-size: cover;
    background-position: 50%;
}

.arth .profilImg .img {
    background-image: url("../img/mathPhoto.jpg");
    background-size: cover;
    background-position: 50%;
}

.devProfil .name p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 3px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 3%;
}

.shortDesc p {
    color: white;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin-left: 10%;
    width: 80%;
}

.spe {
    @extend %flex-center;
}

.rectSpeContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
}

.logoSpeRect {
    @extend %flex-center;
}

.portfolio-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    .portfolio {
        width: 75%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        h2 {
            @include style-text(white, none, Arial, center, none);
        }
    }
}

.portfolio-child {
    transition-property: width, height;
    transition-timing-function: ease;
    transition-duration: 0.4s;
    transition-delay: 0s;

    button {
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: none;

        p {
            @include style-text(white, none, Arial, center, none);
        }
    }

    &:hover {
        width: 110%;
        height: 50%;
    }
}

.projects-container {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;

    .project {
        background-color: bisque;
        width: 49.5%;
        height: 100%;
        position: relative;
        z-index: 1;

        &:first-child {
            border-top-left-radius: 30px;
            background-image: url("../img/bgi-matheoguilbert_fr.jpg");
            background-size: cover;
            background-position: 50%;
        }

        &:last-child {
            border-top-right-radius: 30px;
            background-image: url("../img/bgi-amevents_fr.jpg");
            background-size: cover;
            background-position: 50%;
        }

        &:hover {
            width: 70%;
            height: 120%;
        }
    }
}

.viewMore-zone {
    background-image: url("../img/bgi-viewmorezone.jpg");
    background-size: cover;
    background-position: 50%;
    width: 100%;
    height: 40%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    @extend %flex-center;
}

.calculateCost {
    width: 100vw;
    min-height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    h2 {
        @include style-text(white, none, Arial, center, none);
        width: 100%;
        @extend %flex-center;
        flex-direction: column;
    }
}

.option-container {
    width: 50vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .option {
        background-color: $theme_vert_fonce;
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: space-between;
        border-radius: 30px;

        .case {
            width: 32.5%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .optionCheckbox {
                width: 20px;
                height: 20px;
            }
        }

        .optionText {
            @include style-text(white, none, monospace, center, none);
        }
    }
}

.resume-container {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .resumeText {
        width: 50%;
        border-top: solid 2px white;
        padding-top: 15px;
    }

    .infosResume {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center
    }
}

.resume {
    @include style-text(white, none, monospace, center, none);
}

.continue-container {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .p-continue {
        @include style-text(white, none, monospace, center, none);
    }

    .linksPlatform {
        width: 50%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .links {
            background-color: $couleur_surlignage;
            width: 40%;
            height: 50px;
            padding: 10px;
            border-radius: 10px;
            @extend %flex-center;
            cursor: pointer;

            a {
                @include style-text(white, none, monospace, center, none);
            }
        }
    }


}

@media (1305px >=width) {
    .hamburger {
        visibility: visible;
    }

    .menu {
        visibility: hidden;
        width: 0px;
        height: 0px;
    }

    .projects-container {
        flex-direction: column;
        align-items: center;

        .project {
            width: 100%;

            &:first-child {
                border-top-right-radius: 30px;
                margin-bottom: 1vh;
            }

            &:last-child {
                border-top-right-radius: 0;
            }

            &:hover {
                width: 110%;
                height: 120%;
            }
        }
    }

    .option-container {
        width: 75vw;
    }
}

@media (975px >=width) {
    nav {
        flex-direction: row-reverse;

        .icons {
            visibility: hidden;
            width: 0;
            height: 0;
        }

        .nav-bar {
            position: absolute;
            width: fit-content;
            height: 10vh;
            left: 5vw;
        }

        .hamburger.active {
            transform: translateX(calc(85vw - 70px * 0.5));
        }

        .logo {
            width: 100%;
            justify-content: right;
            margin-left: 0px;
            margin-right: 3vw;
        }

        .logo.active {
            transform: translateX(100%);
        }
    }

    .menu-hamburger {
        width: 80vw;
    }

    .option-container {
        width: 100vw;
    }
}

@media screen and (width <= 510px) {
    .rect {
        width: 100%;
    }
}

@media (490px >= width) {
    .supp {
        visibility: hidden;
        width: 0;
        height: 0;
    }
}

@media screen and (width <= 425px) {
    .portfolio {
        width: 500px;
    }
}